@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Glsnecb;
  src: url(../public/GLSNECB.ttf);
}
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
.image-rotate {
  transform: rotate(0deg);
  transition: cubic-bezier(0.94, 0.18, 1, 1);
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.image-2 {
  transition: cubic-bezier(0.94, 0.18, 1, 1);
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 100ms;
  transform: translate(18vw, -200px);
}
.image-1 {
  transition: cubic-bezier(0.94, 0.18, 1, 1);
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 100ms;
  transform: translate(-18vw, 135px);
}

@media (max-width: 768px) {
  .textarea__ {
    transform: translate(-30px, 0px);
  }
  .image-1 {
    transform: translate(-28vw, 50px);
  }
  .image-2 {
    transform: translate(18vw, -50px);
  }
}
